@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Original+Surfer&display=swap');

*, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-style: initial;
  font-family: "Fredoka", sans-serif;
}


header.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 15px 60px;
  background-color: rgba(0, 0, 0, 0.3); 
  z-index: 10;
  font-size: 20px;
}

.logoheader {
  width: 90px;
}

.logoheader img{
    width: 100px;
}


.menu, .cadastro {
  display: flex;
  gap: 25px;
}

.menu a, .cadastro a {
  text-decoration: none;
  color: #d5e5f2;
  font-weight: 600;
  transition: 0.3s;
}

.menu a:hover, .cadastro a:hover {
  color: #8BBBD9;
}



.rodape {
  background: linear-gradient(135deg, #01579b, #0288d1);
  display: flex;
  width: 100%;

  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 40px 20px;
  color: #e1f5fe;
  box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.3);
}

.rodape_bordao {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #c8e6ff;
  max-width: 300px;
}

.rodape_bordao img {
  width: 70%;
  
}

.rodape_links {
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
  flex-direction: column;
}

.rodape_links a {
  color: #e1f5fe;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.rodape_links a:hover {
  color: #81d4fa;
  text-decoration: underline;
}

.rodape_contato {
  text-align: right;
  font-size: 0.9rem;
  color: #bbdefb;
}

.rodape_contato p {
  margin: 3px 0;
}

.page {
  text-decoration: underline;
  text-decoration-color: #03a9f4;
  text-decoration-thickness: 4px;
  text-underline-offset: 8px;
}

.conteudo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.conteudo img{
    width: 100%;
    height: 10%;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.722);
    border-radius: 25px;
    position: absolute;
    right: 500px;
    height: 400px;
    font-size: 1.2rem;
    bottom: 90px;
    border: 3px solid #ccc;
    
}

.formulario h2 {
    color: #d5e5f2;
    margin-bottom: 25px;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

.formulario p {
    font-size: 1.3rem;
    align-self:center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #d5e5f2;
}

.campo {
    display: flex;
    align-items: center;
    position: relative;
}

.campo .icone {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
}

.campo input {
    text-align:center;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    font-size: 0.9rem;
    outline: none;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
}

.email, .senha, .mensagem {
    font-size: 0.8rem;
    color: red;
    margin-top: 5px;
}

.formulario button {
    background-color:#01579b;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #8BBBD9;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 0.8rem;
    transition: 0.3s;
    align-self: center;
}

.formulario button:hover {
    background-color: #4E5A65;
    color: #FFFFFF;
    border-color: #4E5A65;
    padding: 12px 22px;
    font-size: 0.9rem;
}

.esqueci {
    margin: 15px 50px 0px 300px;
    color: #c8e6ff;
    font-size: 1rem;
    width: fit-content;
}

.esqueci:hover {
    color: #4E5A65;
}