@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Original+Surfer&display=swap');

body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-style: initial;
    font-family: "Fredoka", sans-serif;
    box-sizing: border-box;
}

.fundo{
    height: 100vh;
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quadradao{
    width: 95%;
    height: 95%;
    background-color: #00bcd4;
    display: flex;
    flex-direction: row;
}

.menu{
    border: 1px solid black;
    width: 17%;
    height: 100%;
}

.menu img{
    width: 100%;
    height: 30%;
}

.menu a{
    font-size: 1.3rem;
    align-items: center;
    display: flex;
    justify-content: center;
    font-weight: 600;
    color: #01579b;
    text-decoration: none;
}

.menu a:hover{
    color: white;
    transform: rotateX(35px) scale(1.03);
}

.conjunto{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.texto{
    border: 1px solid black;
    height: 15%;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color: #03318c;
}

.kpi {
    height: 22%;
    background-color: #00bcd4;
    padding: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 8px;
    border-radius: 12px;            
}

.kpicard {
    display: flex;
    gap: 20px;                     
    height: 100%;
    justify-content: center;      
    padding: 0 40px;               
    box-sizing: border-box;
}

.cardkp {
    flex: 1 420px;               
    max-width: 420px;               
    background: rgba(245, 222, 179, 0.679);
    border-radius: 16px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 0.95rem;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.cardkp:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.25);
}

.graficos{
    height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.barra{
    border: 1px solid black;
    width: 50%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outro{
    border: 1px solid black;
    width: 60%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}