@charset "UTF-8";

    @import url('https://fonts.googleapis.com/css2?family=Chewy&family=Fredoka:wght@300..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Original+Surfer&display=swap');

/* Padronizado para o site todo!!!! */

*,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: initial;
    font-family: "Fredoka", sans-serif;
}


header.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 60px;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 10;
    font-size: 20px;
}

.logoheader {
    width: 90px;
}

.logoheader img {
    width: 100px;
}


.menu,
.cadastro {
    display: flex;
    gap: 25px;
}

.menu a,
.cadastro a {
    text-decoration: none;
    color: #d5e5f2;
    font-weight: 600;
    transition: 0.3s;
}

.menu a:hover,
.cadastro a:hover {
    color: #8BBBD9;
}

.rodape {
    background: linear-gradient(135deg, #01579b, #0288d1);
    color: white;
    padding: 60px 10%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    border-top: 5px solid #00e5ff;
    position: relative;
}

.rodape_bordao img {
    width: 200px;
    filter: drop-shadow(0 0 10px #00e5ff);
    transition: 0.3s;
}

.rodape_bordao img:hover {
    transform: scale(1.1) rotate(-5deg);
}

.rodape_links a,
.contato p {
    color: #e0f7fa;
    text-decoration: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 1.1rem;
}

.rodape_links a:hover,
.contato p:hover {
    color: #00e5ff;
    transform: translateX(5px);
}

.rodape_links h3,
.contato h3 {
    color: #fff;
    font-size: 1.4rem;
    margin-bottom: 15px;
    font-weight: 600;
}

.rodape_contato p {
    font-size: 1rem;
    color: #b3e5fc;
}


.page {
    text-decoration: underline;
    text-decoration-color: #03a9f4;
    text-decoration-thickness: 4px;
    text-underline-offset: 8px;
}

.conteudo {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.conteudo img {
    width: 100%;
    height: 10%;
}

.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.722);
    border-radius: 25px;
    position: absolute;
    right: 500px;
    height: 400px;
    font-size: 1.2rem;
    bottom: 90px;
    border: 3px solid #00bcd4;

}

.formulario h2 {
    color: #d5e5f2;
    margin-bottom: 25px;
    font-weight: 900;
    text-align: center;
    font-size: 2rem;
}

.formulario p {
    font-size: 1.3rem;
    align-self: center;
    margin-bottom: 20px;
    font-weight: 600;
    color: #d5e5f2;
}

.campo {
    display: flex;
    align-items: center;
    position: relative;
}

.campo .icone {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 5px;
}

.campo input {
    text-align: center;
    border-radius: 10px;
    width: 400px;
    height: 30px;
    font-size: 0.9rem;
    outline: none;
    border: 1px solid #ccc;
    transition-duration: 0.3s;
}

.email,
.senha,
.mensagem {
    font-size: 0.8rem;
    color: red;
    margin-top: 5px;
}

.formulario button {
    background-color: #01579b;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px solid #8BBBD9;
    font-weight: 900;
    padding: 10px 20px;
    margin-top: 25px;
    font-size: 0.9rem;
    transition: 0.3s;
    align-self: center;
}

.formulario button:hover {
    background-color: #01579b;
    color: #FFFFFF;
    padding: 10px 22px;
    font-size: 1rem;
}

.esqueci {
    margin: 15px 50px 0px 300px;
    color: #c8e6ff;
    font-size: 1rem;
    width: fit-content;
}

.esqueci:hover {
    color: #4E5A65;
}

.validacao {
    color: red;
    font-size: 1rem;
}